body { 
    padding: 1em; 
    background: #eee;
    color: #3e3ed3;
}
h1 {
    text-align: center;
    font-size: 5em;
    font-weight: 700;
}

p {
    text-align: center;
    margin: 0 auto .5em;
    width: 95%;
    max-width: 48em;
    padding: 0 .5em;
}

.copy { 
    font-size: .925em; 
    color: #333; 
    text-align: left; 
}

.content p span {
    font-weight: 700;
    font-style: italic;
}